<html>

<head>

    <title>ApiDoc</title>

</head>


<body>

<h1>Documetation for This API</h1>

<p>APIName:         DanstanDToDoApp<br>
    getTodosByUse   -/getbyUser/:username<br>
    getTodosByID    -/pi/getbyID/:id<br>
    createTodos    -api/createTodo<br>
    updateTodo      -pi/updateTodo<br>
    deleteTodo      -/api/deleteTodo/:id<br>
</p>


</body>

</html>